## MODULE 6.5.2 - Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ilulissat,GL,2021-09-20 01:50:44,69.2167,-51.1000,15.85,70,100,6.71
1,1,Lamlash,GB,2021-09-20 01:50:45,55.5336,-5.1296,48.27,90,0,1.52
2,2,Cape Town,ZA,2021-09-20 01:46:51,-33.9258,18.4232,58.87,82,75,1.01
3,3,Lichuan,CN,2021-09-20 01:50:47,30.3000,108.8500,68.83,68,1,2.59
4,4,Alofi,NU,2021-09-20 01:50:48,-19.0595,-169.9187,82.29,69,2,6.91

In [3]:
# The data we use for any mapping using gmaps must be either 
# an integer or a floating-point decimal number. Let's check 
# the data types for the columns of our DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some value. In this case,
# we will use the maximum temperature as our weights (an array 
# of length equal to the locations array length). However, 
# Google heatmaps does not plot negative numbers. To remove 
# the negative temperatures we can use a for loop to iterate 
# through the max_temp and add the temperatures that are greater
# than 0 Â°F to a new list.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Performing a list comprehension instead of a for loop

In [11]:
# Instead of using the for loop, we can perform a list comprehension within 
# the heatmap_layer() function.

locations = city_data_df[["Lat", "Lng"]]

max_temp = city_data_df["Max Temp"]

fig = gmaps.figure()

# This code replaces the code in the previous section
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Adjust Heatmap Zoom, Intensity, and Point Radius

In [20]:
locations = city_data_df[["Lat", "Lng"]]

max_temp = city_data_df["Max Temp"]

# Adjust previous code for zoom 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Adjust previous code for intensity and point radius
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## MODULE 6.5.3 - Get Vacation Criteria

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Alofi,NU,2021-09-20 01:50:48,-19.0595,-169.9187,82.29,69,2,6.91
5,5,Acapulco,MX,2021-09-20 01:46:13,16.8634,-99.8901,79.75,82,46,2.68
6,6,Road Town,VG,2021-09-20 01:46:14,18.4167,-64.6167,80.69,74,2,14.92
13,13,Thinadhoo,MV,2021-09-20 01:50:58,0.5333,72.9333,83.57,70,92,6.46
19,19,Hilo,US,2021-09-20 01:51:06,19.7297,-155.0900,82.27,76,90,6.91
21,21,Kavieng,PG,2021-09-20 01:51:08,-2.5744,150.7967,84.34,69,99,6.17
31,31,Kapaa,US,2021-09-20 01:51:18,22.0752,-159.3190,80.92,73,75,3.00
32,32,Dingle,PH,2021-09-20 01:51:19,10.9995,122.6711,83.17,77,87,4.45
36,36,Korla,CN,2021-09-20 01:51:23,41.7597,86.1469,78.49,19,0,3.65
37,37,Guapiles,CR,2021-09-20 01:51:25,10.2159,-83.7866,79.74,92,98,2.73

In [30]:
# determine if the preferred_cities_df DataFrame has any 
# null values for any of the rows. You could also use the two
# other methods below
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

## MODULE 6.5.4 - Map Vacation Criteria

### Get Travel Destinations

In [31]:
# Create DataFrame called hotel_df to store hotel names 
# along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
4       Alofi      NU     82.29 -19.0595 -169.9187
5    Acapulco      MX     79.75  16.8634  -99.8901
6   Road Town      VG     80.69  18.4167  -64.6167
13  Thinadhoo      MV     83.57   0.5333   72.9333
19       Hilo      US     82.27  19.7297 -155.0900
21    Kavieng      PG     84.34  -2.5744  150.7967
31      Kapaa      US     80.92  22.0752 -159.3190
32     Dingle      PH     83.17  10.9995  122.6711
36      Korla      CN     78.49  41.7597   86.1469
37   Guapiles      CR     79.74  10.2159  -83.7866

### Retrieve Hotels from a Nearby Search

In [32]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key}

### Iterate Through hotel_df DataFrame

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    ## NOTE: PREVIOUS CODE WILL PRODUCE AN INDEX OUT OF RANGE ERROR
    ## THE API HAD NO VALUE TO RETURN. USE A TRY-EXCEPT LOOP INSTEAD.
    ## hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# Explore the hotel_df Data Frame
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Alofi,NU,82.29,-19.0595,-169.9187,Taloa Heights
5,Acapulco,MX,79.75,16.8634,-99.8901,HS Hotsson Smart Acapulco
6,Road Town,VG,80.69,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
13,Thinadhoo,MV,83.57,0.5333,72.9333,
19,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Kavieng,PG,84.34,-2.5744,150.7967,Nusa Island Retreat
31,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
32,Dingle,PH,83.17,10.9995,122.6711,SEGAYA PROPERTY
36,Korla,CN,78.49,41.7597,86.1469,Gulisitan Hotel
37,Guapiles,CR,79.74,10.2159,-83.7866,Pachira Lodge

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Let's add the markers for each city on top of the heatmap.

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

# Define marker layer using gmaps documentation
marker_layer = gmaps.marker_layer(locations)

# Add heat map layer
fig.add_layer(heat_layer)

# Add markers layer
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.

In [39]:
# Define the call for the info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

# Define marker layer using gmaps documentation, except
# NOW WE ADD THE INFO CONTENT BOX
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add heat map layer
fig.add_layer(heat_layer)

# Add markers layer
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))