## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,18,Riyadh,SA,78.94,clear sky,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
1,22,Butaritari,KI,82.98,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,24,Salinopolis,BR,81.09,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
3,31,El Sauce,NI,82.60,broken clouds,12.8869,-86.5390,Hotel Blanco
4,33,Bengkulu,ID,76.03,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Define marker layer using gmaps documentation and adding info content box
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add markers layer
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start_city = "Mayo"
end_city = start_city
stop1_city = "Greensburg"
stop2_city = "Dubuque"
stop3_city = "Robertson"


vacation_start = vacation_df.loc[vacation_df.City == start_city,:]
vacation_end = vacation_df.loc[vacation_df.City == end_city,:]
vacation_stop1 = vacation_df.loc[vacation_df.City == stop1_city,:]
vacation_stop2 = vacation_df.loc[vacation_df.City == stop2_city,:] 
vacation_stop3 = vacation_df.loc[vacation_df.City == stop3_city,:]

In [31]:
# Check your destination stops dataframes
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
83,381,Mayo,US,75.15,few clouds,38.8876,-76.5119,Resorts Resource Group International

In [32]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
83,381,Mayo,US,75.15,few clouds,38.8876,-76.5119,Resorts Resource Group International

In [33]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
43,220,Greensburg,US,78.8,clear sky,40.3015,-79.5389,Rodeway Inn

In [34]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,43,Dubuque,US,82.22,few clouds,42.4833,-90.8668,American Inn and Suites

In [35]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
45,228,Robertson,US,75.16,light rain,36.5167,-86.8667,Hampton Inn Springfield

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [38]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

fig =gmaps.figure()
vacation_route = gmaps.directions_layer(start,end,waypoints=[stop1, stop2, stop3],travel_mode="DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,381,Mayo,US,75.15,few clouds,38.8876,-76.5119,Resorts Resource Group International
1,220,Greensburg,US,78.80,clear sky,40.3015,-79.5389,Rodeway Inn
2,43,Dubuque,US,82.22,few clouds,42.4833,-90.8668,American Inn and Suites
3,228,Robertson,US,75.16,light rain,36.5167,-86.8667,Hampton Inn Springfield

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
fig =gmaps.figure()
route_marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add markers layer
fig.add_layer(route_marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))